/* .image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
} */

main {
}

.item-list{
}

.item-list div:nth-child(odd){
  background-color:#e6e6e6;
}
.item-list div:nth-child(even){
  background-color: #b3b3b3;
}


.small-image{
  width: 300px; 
}
  
input {
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

nav {
  padding-bottom: 10px;
}