@page "/items"
@model ItemList
@{
    ViewData["Title"] = "Ting";
}

<div class="item-list">
        @foreach (var item in Model.Items)
        {
            <a href="/items/@item.ItemId">
                <div class="item-listing">
                    <span>@item.Name</span>
                    @* <img src="@ting.ImageFilename" class="small-image"/> *@
                </div>
            </a>
        }
</div>