@page
@model ItemList
@{
    ViewData["Title"] = "Ting";
}

<div class="item-list">
        @foreach (var ting in Model.Items)
        {
            <div class="item-listing">
                <span>@ting.Name</span>
                @* <img src="@ting.ImageFilename" class="small-image"/> *@
            </div>
        }
</div>