@page "/items"
@model ItemList
@{
    ViewData["Title"] = "Ting";
}

<div class="item-list">
        @foreach (var item in Model.Items)
        {
            <div class="item-listing">
                <a href="/items/@item.ItemId">
                        <span>@item.Name</span>
                </a>
            </div>
        }
</div>