@page 
@model NewItem 
@{ ViewData["Title"] = "Ting"; }

<div>
  <form method="post" enctype="multipart/form-data">
    <label for="name">Navn</label>
    <input id="name" type="text" asp-for="Name" />
    <label for="image">Bilde</label>
    <input id="image" type="file" accept="image/*" asp-for="Upload" />
    <input type="submit" value="Lagre"/>
  </form>
</div>
