@page
@model NewItem
@{
    ViewData["Title"] = "Ting";
}

<div class="text-center">
    <h1>Welcome</h1>

    <form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload" />
    <input type="text" asp-for="Upload" />
    <input type="submit" />
</form>
</div>
